<div class="bulk_toolbar">
    <ul class="inline-menu">
      <li><a class="fa fa-cancel button" href="#" icon="cancel" id="admin_bulk_unassign_current_taxon">Bulk unassign from this taxon</a></li>
      <li><a class="fa fa-cancel button" href="#" icon="cancel" id="admin_bulk_unassign_all_taxons">Bulk unassign from all Storefront taxons</a></li>
    </ul>
</div>